body{
    background-color: rgb(238, 227,227);
    font-family: 'Cinzel', serif;
    margin:0%;
    height: 5000px;
}

body a{
    color:inherit;
}

body a:link{
    text-decoration: none;
}

.nav-menu{
    /* background-color: yellowgreen; */
    width: 200px;
    padding:20px;
    cursor: pointer;
}

.nav-cart{
    /* background-color: peru; */
    width: 100px;
    padding: 20px;
    cursor:pointer;
}

.nav-account{
    /* background-color: lightgray; */
    width: 100px;
    padding:20px;
    cursor:pointer;
}

.nav-logo{
    /* background-color: cornsilk; */
    width: 200px;
    text-align:center;
    cursor:pointer;
}


.flex{
    display: flex;
    flex-direction: row;
}
.nav{
    margin-top: 50px; 
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: 2px solid grey;
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.nav-space-flex1{
    flex: 1;
}

.side-bar{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    margin-top: 50px;
    width:400px;
    height:100vh;
    position:fixed;
    top:0;
    left:-100%;
    overflow-y: auto;
    transition: 0.15s ease;
    transition-property: left;
    text-align: center;
}

.acc-side-bar{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    margin-top: 50px;
    width:400px;
    height:100vh;
    position:fixed;
    top:0;
    right:-100%;
    overflow-y: auto;
    transition: 0.15s ease;
    transition-property: right;
    text-align: center;
}

.acc-side-bar.active{
    right:0;
}

.side-bar.active{
    left:0;
}

.side-bar .menu{
    position: relative;
    cursor: pointer;
    margin-top: 100px;
}

.acc-side-bar .menu{
    position: relative;
    cursor: pointer;
    margin-top: 100px;
}

.side-bar .menu .item a{
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}

.acc-side-bar .menu .item a{
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}

.acc-side-bar .menu .item a{
    color: inherit;
}
.acc-side-bar .menu .item a:link{
    text-decoration: none;
}

.side-bar .menu .item a:hover{
    background-color:rgba(255, 255, 255, 0.2);
    transition: 0.15s ease;
}

.side-bar .menu .item .sub-menu{
    background: rgba(255, 255, 255, 0.1);
    display: none;
    font-size: 14px;
}

.side-bar .menu .item .sub-menu a{
    color: inherit;
}
.side-bar .menu .item .sub-menu a:link{
    text-decoration: none;
}

.side-bar .menu .item .dropdown{
    transition: 0.15s ease;
}

.side-bar .close-btn{
    position: absolute;
    font-size: 10px;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.acc-side-bar .close-btn{
    position: absolute;
    font-size: 10px;
    left: 0;
    margin: 20px;
    cursor: pointer;
}

.login-otp-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.add-to-cart{
    display: block;
}

.increment{
    display: none;
}

.decrement{
    display: none;
}

.num{
    display: none;
}

.browse-grid{
    margin: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
}
@media (min-width: 600px) and (max-width: 900px){
    .browse-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) and (max-width: 1300px){
    .browse-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px){
    .browse-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1200px){
    .browse-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.browse-video{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
