






<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
   <title>INDITAN | Browse Page</title>
{% endblock %}

{% block browse-page %}
   <div style="margin-left: 40px; margin-top: 40px;">
      <div id="product" style="font-size: 35px; display: inline-block;">{{ product }}</div>
      <div style="font-size: 20px; display: inline-block;">
         <div style="display: inline-block;">[</div>
         <div style="display: inline-block;" id="category">{{ category }}</div>
         <div style="display: inline-block;">]</div>
      </div>
      <div style="font-size: 15px; display: inline-block;">({{ variants|length }})</div>
      <div style="font-size: 20px">{{ variants.0.product_description }}</div>
   </div>

   {% for filter in filters %}
      {{ filter.0 }}<br>
      {% for parameter in filter.1 %}
         <input class="filters" type="checkbox" name={{ filter.0 }} value={{ parameter.1 }}>{{ parameter.1 }}<br>
      {% endfor %}
   {% endfor %}


   <div id="variants_grid" class="browse-grid"></div>

   <script type="text/javascript">
      const var_grid = document.getElementById("variants_grid");

      // WebSocket for Add to Cart
      var add_to_cart_ws = new WebSocket('ws://localhost:8101/ac/product/add-to-cart/');
      add_to_cart_ws.onopen = event => console.log('WS connection open', event);
      add_to_cart_ws.onmessage = event => console.log('Message received from server', event);
      add_to_cart_ws.onerror = event => console.log('WS error occurred', event);
      add_to_cart_ws.onclose = event => console.log('WS connection closed', event);

      // WebSocket for Product Filter
      var product_filter_ws = new WebSocket('ws://'+window.location.host+'/ac/product/filter/');
      product_filter_ws.onopen = event => console.log('WS connection open', event);
      product_filter_ws.onmessage = event => {
         console.log('Message received from server', event);
         if (event.data) {
            let data = JSON.parse(event.data);
            let variants = data["variants"];
            var_grid.innerHTML = "";
            variants.forEach(variant => {
               var_grid.innerHTML += `
                  <div variant_id=${variant.variant_id} class="browse-item">
                     <a href="{% url 'detail' %}?product=${variant.product}&category=${variant.category}&title=${variant.title}&parameters=${variant.parameters}">
                        <div>
                           <video id="vid" autoplay loop muted preload="true" class="browse-video">
                              <source src=${variant.video} type='video/mp4'>
                           </video>
                        </div>
                        <div style="display:flex; flex-direction: row;"> 
                           <div style="flex: 2">
                              <div>${variant.title}</div>
                              <div>${variant.price}</div>
                           </div>
                           <div style="flex: 1">
                              <button class="decrement">-</button>
                              <p quantity=${variant.cart_quantity} class="num"></p>
                              <button class="increment">+</button>
                              <button class="add-to-cart" style="float: right;">Add to Cart</button>
                           </div>
                        </div>
                     </a>
                  </div>`;
            });
         }
      };
      product_filter_ws.onerror = event => console.log('WS error occurred', event);
      product_filter_ws.onclose = event => console.log('WS connection closed', event);

      function filter() {
         let product = document.getElementById("product").innerText;
         let category = document.getElementById("category").innerText;
         let data = { product, category, parameters: {} };

         document.querySelectorAll(".filters:checked").forEach(filter => {
            if (!(filter.name in data.parameters)) {
               data.parameters[filter.name] = [];
            }
            data.parameters[filter.name].push(filter.value);
         });
         
         console.log(JSON.stringify(data));
         product_filter_ws.send(JSON.stringify(data));
      }

      window.onload = filter;
      document.querySelectorAll(".filters").forEach(filter => filter.onclick = filter);
   </script>
{% endblock %}
