{% extends 'base.html' %}
{% load static %}
{% block title %}
   <title>INDITAN | Browse Page</title>
{% endblock %}
{% block browse-page %}
   <h1 id=ct> Cart</h1>
   <!-- <div class="side-bar">
        <div class="close-btn">
            <div><img src="{%static 'icons/close.png'%}" ></div>
        </div>
        <div class="menu">
         <form method='POST' action=''>
         {% csrf_token%}
         {%for form in forms%}
         <div class="item">
                <a class="dropdown">{{form.0}}</a>
                <div class="sub-menu">
                  {%for field in form.1%}
                    <a href="{% url 'browse'%}?product={{prod}}&category={{k}}" class="sub-item">{{field}}</a>
                    {% endfor %}
                </div>
            </div>
         {%endfor%}
         <div>
            <input type='Submit' value='Apply fiters' >
         </div>
      </form>

        </div>
   </div>

   <div class="nav-menu">
      <p>Filter</p>
   </div> -->
      
      <form method='POST' action=''>
         {% csrf_token%}
         {%for form in forms%}
            {{form.0}}
               {{form.1.non_field_errors}}
               {%for field in form.1%}
               {{field}}
               {%endfor%}
         {%endfor%}
         <div>
            <input type='Submit' value='Apply fiters' >
         </div>
      </form>
   

   {%for variant in variants%}
   <div>
      <a href="{% url 'detail'%}?product={{variant.product}}&category={{variant.category}}&title={{variant.title}}&parameters={{variant.parameters}}">
         {{variant.title}}
         <video id="vid" autoplay loop width=300 preload="true">
            <source src={{variant.video}} type='video/mp4'>
         </video>
      </a>
      <button id="decrement">-</button>
      <button id="increment">+</button>
      <p id="num"></p>
      <button id="add-to-cart">Add to Cart</button>
   </div>
   {%endfor%}
   <script type="text/javascript">

      var ws = new WebSocket('ws://127.0.0.1:8001/ac/product/add-to-cart/')

      ws.onopen = function(event){
         console.log('WS connection open', event)
         ws.send('message from client')
      }

      ws.onmessage = function(event){
         console.log('Message received from server', event)
      }

      ws.onerror = function(event){
         console.log('WS error occured', event)
      }

      ws.onclose = function(event){
         console.log('WS connection closed', event)
      }

      document.getElementById("add-to-cart").onclick = function(){
         var add = document.getElementById("add-to-cart")
         var incre = document.getElementById("increment")
         var decre = document.getElementById("decrement")
         var quant = document.getElementById("num")
         if (add.style.display !== "none"){
            incre.style.display = "block";
            decre.style.display = "block";
            quant.style.display = "block";
            quant.innerText = "1";
            add.style.display = "none";
         }
         else {
            add.style.display = "block";
         }
      }

      document.getElementById("increment").onclick = function(){
         var quant = document.getElementById("num")
         quant.innerText = parseInt(quant.innerText)+1;
      }

      document.getElementById("decrement").onclick = function(){
         var add = document.getElementById("add-to-cart")
         var incre = document.getElementById("increment")
         var decre = document.getElementById("decrement")
         var quant = document.getElementById("num")
         if (quant.innerText === "1"){
            add.style.display = "block";
            incre.style.display = "none";
            decre.style.display = "none";
            quant.style.display = "none";
         }
         quant.innerText = parseInt(quant.innerText)-1;
      }


      var vid = document.getElementById("vid");
      vid.addEventListener("timeupdate", function () {
          if(this.currentTime >= 10.0) {
              this.currentTime = 0.0;
          }
      });

   </script>
   
{% endblock %}
      