<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" charset="utf=8"></script>
	{% block title %}
		<title></title>
	{% endblock %}
</head>
<body>
	{% block navbar %}
    <div class="side-bar">
        <div class="close-btn">
            <div><img src="{%static 'icons/close.png'%}" ></div>
        </div>
        <div class="menu">
        	{% for k, v in data.items %}
            <div class="item">
                <a class="dropdown">{{k}}</a>
                <div class="sub-menu">
                	{%for prod in v%}
                    <a href="{% url 'browse'%}?product={{prod}}&category={{k}}" class="sub-item">{{prod}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
	</div>

    <div class="acc-side-bar">
        <div class="close-btn">
            <div><img src="{%static 'icons/close.png'%}" ></div>
        </div>
        <div class="menu">
            {% if user.is_authenticated%}
            <div class="item">
                <a href="{% url 'logout' %}">LOGOUT</a>
            </div>
            {%else%}
            <div class="item">
                <a href="{% url 'login' %}">LOGIN</a>            
            </div>
            {%endif%}
        </div>
    </div>
	
		<nav class="nav">
            <div class="flex">
                <div class="nav-menu flex">
                    <div><img src="{%static 'icons/menu.png'%}" alt="menu"></div> 
                    <!-- weight 200 grade -25 size 24 -->
                    <div>Explore</div>
                </div>
                <div class="nav-space-flex1"></div>
                <div class="nav-logo">
                    <a href="{% url 'home' %}">
                        <div>logo</div>
                        <div>INDI-TAN</div>
                        <div style="font-size:15px">Modern Leather Shop</div>
                    </a>
                </div>
                <div class="nav-space-flex1"></div>
                <a href="{%url 'cart'%}">
                    <div class="nav-cart flex">
                        <div><img src="{%static 'icons/cart.png'%}" alt="cart"></div>
                        <div>Cart</div>
                    </div>
                </a>
                <div class="nav-account flex">
                    <div><img src="{%static 'icons/account.png'%}" alt="account"></div>
                    <div>Account</div>
                </div>
            </div>
        </nav>
	{% endblock %}
	{% block home-page %}
	{% endblock %}
    {% block browse-page %}
    {% endblock %}
    {% block prod-detail-page %}
    {% endblock %}
    {% block cart-page %}
    {% endblock %}

	<script type="text/javascript">
            
            $(document).ready(function(){
                $(".dropdown").click(function(){
                    $(this).next(".sub-menu").slideToggle();
                });
            });

            $(document).ready(function(){
                $(".nav-menu").click(function(){
                    $(".side-bar").addClass('active');
                });
            });

            $(document).ready(function(){
                $(".close-btn").click(function(){
                    $(".side-bar").removeClass('active');
                });
            });

            $(document).ready(function(){
                $(".nav-account").click(function(){
                    $(".acc-side-bar").addClass('active');
                });
            });

            $(document).ready(function(){
                $(".close-btn").click(function(){
                    $(".acc-side-bar").removeClass('active');
                });
            });
            

            $(document).ready(function(){
                $(document).click(function(e){
                    if(!$(".side-bar").is(e.target) && !$(".side-bar").has(event.target).length && !$(".nav-menu").is(e.target) && !$(".nav-menu").has(event.target).length){
                        console.log(e.target,!$(".side-bar").is(e.target), !$(".nav-menu").is(e.target))
                        $(".side-bar").removeClass('active');
                }
                });
            });

            $(document).ready(function(){
                $(document).click(function(e){
                    if(!$(".acc-side-bar").is(e.target) && !$(".acc-side-bar").has(event.target).length && !$(".nav-account").is(e.target) && !$(".nav-account").has(event.target).length){
                        console.log(e.target,!$(".acc-side-bar").is(e.target), !$(".nav-account").is(e.target))
                        $(".acc-side-bar").removeClass('active');
                }
                });
            });

        </script>
</body>
</html>