{% extends 'base.html' %}
{% load static %}
{% block title %}
   <title>INDITAN | Cart</title>
{% endblock %}
{% block cart-page %}
CART
<div style="display: flex;flex-direction: column;margin: 30px;">
  {%for id, item in cart_items.items%}
  <p>Quantity - {{item.quantity}}</p>
  <p>Title - {{item.title}}</p>
  <p>Price - {{item.price}}</p>
  <div style="flex:1;width: 300px;">
      <video id="vid" autoplay loop muted preload="true" class="browse-video">
         <source src={{item.video}} type='video/mp4'>
      </video>
   </div>
  {%endfor%}
</div>
   <script >
      // var ws = new WebSocket('ws://127.0.0.1:8001/cart/asc/')
      // ws.onopen = function(event){
      //    console.log('WS connection open', event)
      //    ws.send('message from client')
      // }
      // document.getElementById("increment").onclick = ws.send()
      // document.getElementById("decrement").onclick = de_send()
      // ws.onmessage = function(event){
      //    console.log('Message received from server', event)
      //    if (event.data == "increment"){
      //    document.getElementById("ct").innerText = "incremented"
      //    }
      //    else {
      //     document.getElementById("ct").innerText = "decremented"  
      //    }
      // }
      // ws.onerror = function(event){
      //    console.log('WS error occured', event)
      // }
      // ws.onclose = function(event){
      //    console.log('WS connection closed', event)
      // }
   </script>
{% endblock %}