{% extends 'base.html' %}
{% load static %}
{% block title %}
   <title>INDITAN | Home Page</title>
{% endblock %}
{%block navbar%}
{%endblock%}
{% block login-page %}
<div class="login-otp-form">
   <div>
      <p>Login Form </p>
   </div>
   <form method='POST' action=''>
         {% csrf_token%}
         <div>
            {{form.non_field_errors}}
            {%for field in form%}
            <div>
               {{field}}
            </div>
            {%endfor%}
         </div>
         <div>
            <input type='Submit' value='Get OTP' >
         </div>
      </form>
   </div>
{% endblock %}

